<div class="navbar">
    <p routerlink="['home']" class="mx-5 clickable hoverzoom">Home</p>
    <p *ngIf="amIanAdmin()" (click)="toggleAdminModal()" class="mx-5 clickable hoverzoom">Admin panel</p>
    <div class="float-right d-flex justify-content-center">
        <!--  <p (click)="logout()" class="mx-5 clickable hoverzoom">Logout</p> -->
        <p class="mx-3">
            Hello <b>{{ user?.username }}</b>
        </p>
        <div (click)="toggleModal()" class="iconSettings clickable hoverzoom px-2" style="margin-top: 2px; margin-right: 10px">&nbsp;</div>
    </div>
</div>

<div *ngIf="showUserModal" [ngClass]="{ 'modal-show': showUserModal, 'modal-hidden': !showUserModal }" class="modal" id="users_modal" style="z-index: 1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">User settings</h4>
                <button (click)="toggleModal()" type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <label>Username</label>
                    <p class="h3 mx-1">{{ user?.username }}</p>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <div>
                        <div class="d-flex justify-content-between">
                            <label>Balance</label>
                            <button (click)="toggleModalFunds()" class="btn very-small-btn btn-primary">Add funds</button>
                            <button (click)="toggleModalTransactions()" class="btn very-small-btn btn-primary">Show transactions</button>
                        </div>
                        <p class="h5 mx-1">{{ user?.funds }} €</p>
                    </div>
                    <div>
                        <label>Charging</label>
                        <div [ngClass]="{ 'charging-yes': user_charging === true, 'charging-no': user_charging === false }">&nbsp;</div>
                    </div>
                </div>

                <label class="mt-2">Full name</label>
                <p class="h5 mx-1">{{ user?.firstName }} {{ user?.lastName }}</p>
                <label class="mt-2">Email address</label>
                <p class="h5 mx-1">{{ user?.email }}</p>
                <div class="d-flex justify-content-between mt-3">
                    <button (click)="logout()" class="btn btn-sm btn-secondary">Log out</button>
                    <button (click)="showPasswordChangeModal = true" class="btn btn-sm btn-secondary">Change my password</button>
                    <button (click)="deleteUser()" class="btn btn-sm btn-danger">Delete my account</button>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="toggleModal()" type="button" class="btn btn-block btn-secondary" style="width: -webkit-fill-available">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div *ngIf="showAddFundsModal" [ngClass]="{ 'modal-show': showAddFundsModal === true, 'modal-hidden': showAddFundsModal === false }" class="modal" aria-hidden="true" style="z-index: 2">
    <div [ngClass]="{ 'no-pointer-events': showAddFundsModal === false }" class="modal-dialog modal-dialog-centered" style="transform: scale(0.9)" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Add funds</h4>
                <button (click)="toggleModalFunds()" type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div style="display: inline-grid">
                        <label>Card number</label>
                        <input class="mx-1" [ngModelOptions]="{ standalone: true }" [(ngModel)]="cardNumber" placeholder="4987 0822 1234 5678" />
                        <label class="mt-2">CVV</label>
                        <input class="mx-1" [ngModelOptions]="{ standalone: true }" [(ngModel)]="cardCVV" placeholder="702" />
                        <label class="mt-2">Amount (€)</label>
                        <input class="mx-1" [ngModelOptions]="{ standalone: true }" [(ngModel)]="cardAmount" type="number" placeholder="Enter amount" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button (click)="nakaziFunds()" type="button" class="btn btn-block btn-success" style="width: -webkit-fill-available">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div *ngIf="showPasswordChangeModal === true" [ngClass]="{ 'modal-show': showPasswordChangeModal === true, 'modal-hidden': showPasswordChangeModal === false }" class="modal" aria-hidden="true">
    <div [ngClass]="{ 'no-pointer-events': showPasswordChangeModal === false }" class="modal-dialog modal-dialog-centered" style="transform: scale(0.9)" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Change password</h4>
                <button (click)="toggleModalPassword()" type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input *ngIf="passwordStage === 1" [ngModelOptions]="{ standalone: true }" [(ngModel)]="retypePassword" type="password" placeholder="Old password" autocomplete="on" />

                    <input *ngIf="passwordStage === 2" [ngModelOptions]="{ standalone: true }" [(ngModel)]="newPassword" type="password" placeholder="New password" autocomplete="on" />
                </form>
            </div>
            <div class="modal-footer">
                <button *ngIf="passwordStage === 1" (click)="passwordStageAction()" type="button" class="btn btn-block btn-success" style="width: -webkit-fill-available">Check</button>
                <button *ngIf="passwordStage === 2" (click)="passwordStageAction()" type="button" class="btn btn-block btn-success" style="width: -webkit-fill-available">Change my password</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div *ngIf="showTransactionsModal === true" [ngClass]="{ 'modal-show': showTransactionsModal === true, 'modal-hidden': showTransactionsModal === false }" class="modal" aria-hidden="true">
    <div [ngClass]="{ 'no-pointer-events': showTransactionsModal === false }" class="modal-dialog modal-dialog-centered" style="transform: scale(0.9)" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">My transactions</h4>
                <button (click)="toggleModalTransactions()" type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="transactions">
                    <pre *ngFor="let transaction of transactions" class="transaction">{{ prettyJson(transaction) }}</pre>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="toggleModalTransactions()" type="button" class="btn btn-block btn-secondary" style="width: -webkit-fill-available">Check</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div *ngIf="showAdminPanel === true" [ngClass]="{ 'modal-show': showAdminPanel === true, 'modal-hidden': showAdminPanel === false }" class="modal" aria-hidden="true">
    <div [ngClass]="{ 'no-pointer-events': showPasswordChangeModal === false }" class="modal-dialog modal-dialog-centered" style="transform: scale(0.9)" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Admin dashboard</h4>
                <button (click)="toggleAdminModal()" type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label style="font-size: large; margin-bottom: 15px">Create new charging station</label>
                <br />
                <div>
                    <div clasS="d-flex">
                        <label>Name</label>
                        <button (click)="createPolnilnica()" class="btn btn-primary very-small-btn">Create</button>
                    </div>
                    <br />
                    <input class="mx-1" [ngModelOptions]="{ standalone: true }" [(ngModel)]="newPolnilnica.ime" placeholder="Charging station name" />
                </div>
                <div class="d-flex">
                    <div>
                        <label>Latitude</label>
                        <input class="mx-1" [ngModelOptions]="{ standalone: true }" [(ngModel)]="newPolnilnica.lokacijaLat" placeholder="46.050838" />
                    </div>
                    <div>
                        <label>Longitude</label>
                        <input class="mx-1" [ngModelOptions]="{ standalone: true }" [(ngModel)]="newPolnilnica.lokacijaLng" placeholder="14.458901" />
                    </div>
                </div>
                <hr />
                <label style="color: red; font-weight: 100; font-size: 30px">Reported comments</label>
                <div class="ocena-list" style="max-height: 300px; height: 300px">
                    <div *ngFor="let report of reportList; let i = index" class="ocena">
                        {{ report.komentar }}
                        <div class="ocena-stars" style="font-size: 10px">Reported: {{ getDateString(report.timestamp) }}</div>
                        <div (click)="delete(report, i)" class="ocena-report">Remove</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"><button (click)="toggleAdminModal()" type="button" class="btn btn-block btn-secondary" style="width: -webkit-fill-available">Close</button> <button *ngIf="passwordStage === 2" (click)="passwordStageAction()" type="button" class="btn btn-block btn-success" style="width: -webkit-fill-available">Change my password</button></div>
        </div>
    </div>
</div>

<div id="snackbar_sidebar" style="z-index: 10" class="snackbar">{{ toastMessage }}</div>
