<app-sidebar></app-sidebar>
<div class="polnilnice-list">
    <h1 class="polnilnice-h1 mb-5">Charging stations</h1>
    <div (click)="togglePolnilnicaModal(polnilnica)" class="polnilnica-list-item clickable hoverzoom-1" *ngFor="let polnilnica of polnilnice">
        <p class="polnilnica-title">{{ polnilnica.ime }}</p>
        <div class="d-flex">
            <label>Avg. rating: &nbsp;</label>
            <div *ngIf="getAverageOcena(polnilnica.id)" class="ocena-avg">{{ getAverageOcena(polnilnica.id) }}</div>
            <div style="font-weight: 100" *ngIf="!getAverageOcena(polnilnica.id)">No ratings yet</div>
        </div>
    </div>
</div>

<div *ngIf="modalPolnilnica" [ngClass]="{ 'modal-show': modalPolnilnica.ime, 'modal-hidden': !modalPolnilnica.ime }" class="modal" id="users_modal" aria-hidden="true">
    <div class="modal-dialog modal-polnilnica modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">{{ modalPolnilnica.ime }}</h4>

                <button (click)="togglePolnilnicaModal(null)" type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between">
                    <div style="width: 400px">
                        <!-- =================== Comments =================== -->
                        <div class="d-flex">
                            <label style="margin-right: 110px; font-size: 20px">Comments</label>
                            <label>Avg. rating: &nbsp;</label>
                            <div *ngIf="getAverageOcena(modalPolnilnica.id)" class="ocena-avg">{{ getAverageOcena(modalPolnilnica.id) }}</div>
                            <div *ngIf="!getAverageOcena(modalPolnilnica.id)" class="ocena-avg">?</div>
                        </div>
                        <div class="ocena-list">
                            <div class="ocena" *ngFor="let ocena of modalPolnilnica.ocene">
                                "{{ ocena.besedilo }}"
                                <div class="ocena-stars">{{ ocena.ocena }}/5</div>
                            </div>
                            <div *ngIf="modalPolnilnica.ocene.length === 0" style="margin: 15px; text-align: center; font-weight: 100; font-style: italic">No comments yet</div>
                        </div>
                        <!-- ===================/ Comments =================== -->
                        <!-- =================== Termini =================== -->
                        <div>
                            <div>Timeslots</div>
                            <div style="width: 380px; margin-top: 5px" class="d-flex justify-content-between">
                                <div (click)="terminiSelected = 1" class="termini-select hoverzoom" [ngClass]="{ 'termini-selected': terminiSelected === 1 }">{{ getDateString(termini1[1]) }}</div>
                                <div (click)="terminiSelected = 2" class="termini-select hoverzoom" [ngClass]="{ 'termini-selected': terminiSelected === 2 }">{{ getDateString(termini2[1]) }}</div>
                                <div (click)="terminiSelected = 3" class="termini-select hoverzoom" [ngClass]="{ 'termini-selected': terminiSelected === 3 }">{{ getDateString(termini3[1]) }}</div>
                            </div>
                        </div>
                        <div class="termin-list">
                            <div *ngIf="terminiSelected === 1">
                                <div class="termin" *ngFor="let termin of termini1; let i = index">
                                    <div class="termin-timestamp">{{ getTimeString(termin) }}</div>
                                    <div (click)="rezervirajTermin(termin)" class="termin-marker">&nbsp;</div>
                                </div>
                            </div>
                            <div *ngIf="terminiSelected === 2">
                                <div class="termin" *ngFor="let termin of termini2; let i = index">
                                    <div class="termin-timestamp">{{ getTimeString(termin) }}</div>
                                    <div (click)="rezervirajTermin(termin)" class="termin-marker">&nbsp;</div>
                                </div>
                            </div>
                            <div *ngIf="terminiSelected === 3">
                                <div class="termin" *ngFor="let termin of termini3; let i = index">
                                    <div class="termin-timestamp">{{ getTimeString(termin) }}</div>
                                    <div (click)="rezervirajTermin(termin)" class="termin-marker">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                        <!-- ===================/ Termini =================== -->
                    </div>
                    <div class="map-div">
                        <iframe width="650" height="550" style="border: 0" loading="lazy" allowfullscreen [src]="iframeurl | safePipe"> </iframe>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="togglePolnilnicaModal(null)" type="button" class="btn btn-block btn-secondary" style="width: -webkit-fill-available">Close</button>
            </div>
        </div>
    </div>
</div>
